<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div class="f-page yellow-bkg active" id="screen-welcome">
		<div id="debugger">
		</div>
		<!-- PRELOADER -->
		<div id="content-loader-holder">
			<div id="content-loader">
				<div class="ss-preloader-spin">
				</div>
			</div>
		</div>
		<!-- END PRELOADER -->
		<div class="g-screen fixed-screen">
			<!-- START HEADER -->
			<header class="site-header yellow">
		<!-- START NAVIGATION MENU -->
                <nav class="site-menu ">
                    <a href="/welcome">首页</a>
                    <a href="/portfolio">新增图书</a>
                    <a href="/team">借还书籍</a>
                    <a href="/invest">充值</a>
                </nav>
                <a href="/adminlogout" class="out">注销</a>
		<!-- END NAVIGATION MENU -->

		    </header>
			<!-- END HEADER -->
			<!-- START LOGO -->
			<div class="main-logo">
				<div class="main-logo-shadow"></div>
				<div class="logo-img"></div>
                <p></p>
				<a href="/portfolio"><span class="logo-arrow"></span></a>
			</div>
			<!-- END LOGO -->
			<div class="main-quote"></div>
        </div>
    </div>
</body>
</html>